$bg-secondary-color: #f4f4f4;
$primary-font-weight: bold;
$content-border: 1px solid #c8c8c8;
$primary-link-color: #33a1ff;
$secondary-link-color: #1782e0;
$secondary-font-family: Tahoma;


@import 'banner-container';
@import 'content-container';