html {
  font-family: 'Catamaran', tahoma, sans-serif; }

.gutter {
  padding: 0 8%; }

a {
  text-decoration: none; }

.perforated-border {
  border: 7px solid transparent;
  border-image: url(../assets/perforated-bottom@2x.png) 0 0 30 0 repeat;
  position: relative;
  top: -8px;
  width: 100%; }

.x-border {
  border: 7px solid transparent;
  border-image: url(../assets/hatch-light@2x.png) 30 0 0 0 repeat;
  position: relative;
  top: -8px;
  width: 100%; }

#promotion-container {
  background-color: #fa6938; }
  #promotion-container ul {
    color: white;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    padding-left: 0px; }
    #promotion-container ul li {
      text-transform: uppercase;
      padding: 10px;
      list-style: none;
      text-shadow: 0.5px 0.5px gray; }
      #promotion-container ul li a {
        color: white; }
    #promotion-container ul .shipping {
      background-color: #c7532c;
      border-radius: 2px;
      padding: 4px 8px !important; }

#header-container {
  background-color: white;
  display: flex;
  align-items: center;
  margin-top: -10px; }
  #header-container a {
    width: 12%; }
  #header-container #logo {
    width: 100%; }
  #header-container nav ul {
    font-size: 1.5em; }
    #header-container nav ul li {
      display: inline-block;
      padding: 13px; }
      #header-container nav ul li a {
        color: #000; }
  #header-container #header-right {
    display: flex;
    width: 39%;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 23px; }
    #header-container #header-right .account {
      position: relative;
      bottom: 10px;
      text-transform: uppercase; }
      #header-container #header-right .account a {
        padding-left: 5px;
        font-size: 0.8em;
        color: #909090; }
      #header-container #header-right .account a:hover {
        color: #1782e0; }
    #header-container #header-right #cart-search-container {
      display: flex;
      justify-content: flex-end; }
      #header-container #header-right #cart-search-container .cart-box {
        border: 1px solid #c8c8c8;
        display: flex;
        align-items: center;
        border-radius: 3px; }
        #header-container #header-right #cart-search-container .cart-box div {
          padding: 4px; }
          #header-container #header-right #cart-search-container .cart-box div a {
            color: #909090; }
        #header-container #header-right #cart-search-container .cart-box .cart-sprite {
          background: url("../assets/sprite.png") no-repeat -54px -28px;
          width: 14px;
          height: 12px; }
        #header-container #header-right #cart-search-container .cart-box .cart-square {
          background-color: #c8c8c8;
          width: 8px;
          height: 8px;
          border-radius: 3px;
          margin: 2px;
          margin-right: 6px; }
      #header-container #header-right #cart-search-container #search-container {
        border: 4px solid lightgrey;
        margin-left: 15px;
        border-radius: 5px;
        width: 50%;
        padding-top: 3px; }
        #header-container #header-right #cart-search-container #search-container .search-sprite {
          background: url("../assets/sprite.png") no-repeat -20px -30px;
          width: 14px;
          height: 14px;
          position: relative;
          left: 14px;
          display: inline-block; }
        #header-container #header-right #cart-search-container #search-container input {
          width: 70%;
          float: right;
          border: none;
          font-size: 0.75em; }

#banner-container {
  background-color: #f4f4f4;
  margin: -13px; }
  #banner-container .ties {
    display: flex;
    justify-content: center; }
    #banner-container .ties div {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      width: 9%; }
      #banner-container .ties div img {
        padding-bottom: 15px;
        width: 70%; }
  #banner-container h1 {
    text-align: center;
    font-size: 3.5em;
    letter-spacing: 1px;
    padding: 1.5em;
    margin: 0px; }

#sub-footer {
  background-color: white;
  display: flex;
  margin: -15px 0px; }
  #sub-footer .sub-footer-box-elements {
    flex: 1;
    padding: 50px 30px 50px 0px; }
    #sub-footer .sub-footer-box-elements h4 {
      font-size: 1.1em;
      font-family: Tahoma;
      margin: 0 0 15px; }
    #sub-footer .sub-footer-box-elements p {
      margin-top: 0px;
      font-size: 0.96em;
      font-weight: bold; }
    #sub-footer .sub-footer-box-elements a {
      color: #33a1ff;
      font-size: 0.96em; }
      #sub-footer .sub-footer-box-elements a img {
        border: 1px solid #c8c8c8;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 1px; }
    #sub-footer .sub-footer-box-elements a:hover {
      color: #1782e0; }
    #sub-footer .sub-footer-box-elements .social-media-container {
      display: flex;
      width: 47%; }
      #sub-footer .sub-footer-box-elements .social-media-container div {
        padding-right: 10px; }
      #sub-footer .sub-footer-box-elements .social-media-container #facebook-sprite {
        background: url("../assets/sprite.png") no-repeat -320px 0;
        width: 35px;
        height: 35px; }
      #sub-footer .sub-footer-box-elements .social-media-container #pinterest-sprite {
        background: url("../assets/sprite.png") no-repeat -320px -40px;
        width: 35px;
        height: 35px; }
      #sub-footer .sub-footer-box-elements .social-media-container #twitter-sprite {
        background: url("../assets/sprite.png") no-repeat -320px -80px;
        width: 35px;
        height: 35px; }
    #sub-footer .sub-footer-box-elements #name-input {
      border: 4px solid lightgrey;
      width: 70%;
      border-radius: 5px;
      margin-bottom: 6px;
      padding: 6px;
      font-weight: 100;
      font-size: 0.75em; }
    #sub-footer .sub-footer-box-elements .subscribe-button {
      color: white;
      text-transform: uppercase;
      background-color: #33a1ff;
      margin-top: 10px;
      border-radius: 4px;
      font-size: 0.7em;
      font-weight: 100;
      border: 0px solid;
      padding: 5px 8px; }

footer {
  background-color: #f4f4f4;
  margin-top: -15px; }
  footer #footer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px; }
    footer #footer-container #nav-bottom {
      display: flex; }
      footer #footer-container #nav-bottom ul {
        padding-left: 0px;
        padding-right: 40px;
        margin-top: 0px; }
        footer #footer-container #nav-bottom ul h5 {
          font-family: Tahoma;
          margin: 5px 0px 10px; }
        footer #footer-container #nav-bottom ul li {
          list-style: none;
          font-size: 0.95em; }
          footer #footer-container #nav-bottom ul li a {
            color: #909090;
            list-style: none;
            font-size: 0.95em; }
          footer #footer-container #nav-bottom ul li a:hover {
            color: #33a1ff; }
    footer #footer-container #contact-us-container {
      background-color: #a2afc0;
      padding: 0px 22px;
      border-radius: 5px; }
      footer #footer-container #contact-us-container h3 {
        color: white;
        font-size: 2em;
        font-weight: 100;
        font-style: italic;
        letter-spacing: 1px;
        padding-right: 55px;
        margin-bottom: 20px;
        margin-top: 20px; }
      footer #footer-container #contact-us-container .contact-us-bottom {
        display: flex;
        margin-bottom: 20px; }
        footer #footer-container #contact-us-container .contact-us-bottom .contact-us-left span {
          font-size: 1.2em;
          display: flex;
          letter-spacing: 0.5px;
          line-height: 1.5em;
          color: white; }
        footer #footer-container #contact-us-container .contact-us-bottom .contact-us-right {
          margin-left: 30px; }
          footer #footer-container #contact-us-container .contact-us-bottom .contact-us-right .contact-us-button {
            color: white;
            background-color: #33a1ff;
            border-radius: 4px;
            font-size: 1.1em;
            font-weight: 100;
            border: 0px solid;
            padding: 10px;
            margin-top: 15px; }
  footer #copyright-containter {
    padding: 8px 0px 40px; }
    footer #copyright-containter .copyright {
      color: #909090;
      font-size: 0.7em; }
    footer #copyright-containter .made-by {
      padding-left: 10px; }
      footer #copyright-containter .made-by a {
        border-bottom: 1px dotted #CCC; }
      footer #copyright-containter .made-by a:hover {
        color: #33a1ff; }

/*# sourceMappingURL=master.css.map */
