$bg-quaternary-color: #a2afc0;
$txt-highlight-color: white;
$content-border: 1px solid #c8c8c8;
$bg-secondary-color: #f4f4f4;
$txt-secondary-color: #909090;
$primary-font-weight: bold;
$primary-link-color: #33a1ff;
$secondary-link-color: #1782e0;
$secondary-font-weight: 100;
 




@import 'width-header';
@import 'width-container';
@import 'width-short-nav';